<footer>

      <div>
          <p style="text-align: center">
            <a href="https://qosf.com/ASOF-join.html">ASOF JOIN</a> | 
            <a href="https://qosf.com/market-basket-analysis.html">Association Rule Mining</a> | 
            <a href="https://qosf.com/market-basket-analysis.html">Market Basket Analysis</a> | 
            <a href="https://qosf.com/applied-overview-of-MATCH_RECOGNIZE-clause.html">MATCH_RECOGNIZE</a> | 
            <a href="https://qosf.com/skyline-query-pareto-set-maxima.html">Skyline Query</a> | 
            <a href="https://analyticsengineering.net/mailman/listinfo/wranglers">Analytics Engineering</a> |
            <a href="https://archive.analyticsengineering.net/">Analytics Engineering Mailing List Archive</a> | 
            <a href="https://analyticsengineering.net/mailman/listinfo/wranglers">Subscribe to Analytics Engineering Mailing List</a> |
    
      </p>
      </div>
    
</footer>
